body {
}

.border-form {
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #d6d6d6;
    border-radius: 5px;
}
.right-side-button {
}

.form-panel{
}
.margin-top-10p{
margin-top: 10px;
}